<div class="cv-container">

  <div class="cv-content-container d-flex justify-content-between align-items-center flex-column">

    <div class="cv-header-container d-flex justify-content-center">

      <div class="cv-content-header d-flex justify-content-start">
        <h2>Mon CV</h2>
      </div>

    </div>

    <div class="cv-body d-flex">
      <span>Ajouter le contenu du CV dans cette div</span>
    </div>

  </div>

</div>
