<div class="home-container">

  <div class="pres-container d-flex justify-content-around align-items-center">

    <div class="story-telling d-flex justify-content-center align-items-center">
      <p>une collaboration c’est aussi de l’humain donc l’idée ici c’est de faire du storytelling pour me presenter. dans l’objectif que la personne puisse voir si notre vision et vibes soient identiques pour que ça match</p>
    </div>

    <div class="introducing-myself d-flex justify-content-center align-items-center">
      <span>Vidéo de Duong So</span>
    </div>

    <div class="myself-in-words d-flex flex-column justify-content-center align-items-center">
      <p>mon why</p>
      <p>mon how</p>
      <p>mon what</p>
    </div>

    <button class="btn btn-succes">Voir mon CV</button>

  </div>

</div>
