<div class="home-container">

  <div class="pres-container d-flex justify-content-around align-items-center">

    <div class="story-telling d-flex justify-content-center align-items-center">
      <p>une collaboration c’est aussi de l’humain donc l’idée ici c’est de faire du storytelling pour me presenter. dans l’objectif que la personne puisse voir si notre vision et vibes soient identiques pour que ça match</p>
    </div>

    <div class="introducing-myself d-flex justify-content-center align-items-center">
      <span>Vidéo de Duong So</span>
    </div>

    <div class="myself-in-words d-flex flex-column justify-content-center align-items-center">
      <p>mon why</p>
      <p>mon how</p>
      <p>mon what</p>
    </div>

    <div class="cta-cv d-flex justify-content-end">
      <%= link_to cv_path do %>
        <button class="btn btn-success">Voir mon CV</button>
      <% end %>
    </div>

  </div>

</div>

<div class="pres-stats-container">

  <div class="more-about-my-work">

    <div class="stats-container d-flex justify-content-start">

      <div class="my-stats d-flex justify-content-around align-items-center">

        <div class="stats-block d-flex flex-column justify-content-center align-items-center">
          <h3>Formation</h3>
          <div class="impact-text d-flex justify-content-center align-items-end mt-2">
            <h2>5</h2>
            <h5>ans</h5>
          </div>
        </div>

        <div class="stats-block d-flex flex-column justify-content-center align-items-center">
          <h3>Expériences</h3>
          <div class="impact-text d-flex justify-content-center align-items-end mt-2">
            <h2>10</h2>
            <h5>+</h5>
          </div>
        </div>

        <div class="stats-block d-flex flex-column justify-content-center align-items-center">
          <h3>Reels "Food"</h3>
          <div class="impact-text d-flex justify-content-center align-items-end mt-2">
            <h2>145</h2>
            <h5>+</h5>
          </div>
        </div>

        <div class="stats-block d-flex flex-column justify-content-center align-items-center">
          <h3>Abonnés</h3>
          <div class="impact-text d-flex justify-content-center align-items-end mt-2">
            <h2>17</h2>
            <h5>+</h5>
          </div>
        </div>

      </div>

    </div>

    <div class="cta-portfolio d-flex justify-content-center">
      <%= link_to portfolio_path do %>
        <button class="btn btn-success">Voir mon portfolio</button>
      <% end %>
    </div>

  </div>

</div>

<div class="pres-myself-container">

  <div class="more-about-me d-flex justify-content-around align-items-center">
    <h3>Ajouter plus de choses à propos de moi ou de mes envies</h3>
  </div>

</div>

<div class="pres-materials-container">

  <div class="materials-block d-flex flex-column justify-content-center align-items-center">

    <div class="materials-section  d-flex flex-column justify-content-between align-items-center">

      <div class="header-materials d-flex justify-content-start">
        <h2>Mon matériel Photo & Vidéo</h2>
      </div>

      <div class="materials-description-section d-flex justify-content-center align-items-center">
        <h3>tableau avec le matériel</h3>
      </div>

      <div class="follow-me-block d-flex flex-column align-items-center">
        <h2>Si tu veux encore plus de détails sur mes aventures, rejoins-moi ici:</h2>
        <div class="follow-links d-flex justify-content-center">
          <a href="https://www.tiktok.com/@guidebyso">Suis-moi <%= image_tag "https://static.vecteezy.com/ti/vecteur-libre/p1/6057996-logo-tiktok-sur-fond-transparent-gratuit-vectoriel.jpg" %></a>
          <a href="https://www.instagram.com/guidebyso/"><%= image_tag "https://cdn-icons-png.flaticon.com/512/174/174855.png" %> Suis-moi</a>
        </div>

      </div>

    </div>

  </div>

</div>
