.contact-container {
  height: 75vh;
  width: 100vw;
  padding: 20px;

  .contact-section {

    .thanks-contact {

    }
  }
}

.contact-new {
  height: 100vh;
  width: 100vw;
  padding: 20px;

  .contact-new-section {

    .contact-new-header {

    }

    .contact-new-body {

      .form-contact-new {

      }
    }
  }
}
