.home-container {
  width: 100vw;
  height: 75vh;
  padding: 20px;

  .img-container {
    padding: 20px;
    background: grey;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;

    h3 {
      position: absolute;
      top: 50%;
      left: 50%;
    }

    .cta-services {
      position: absolute;
      bottom: 25px;
      width: 100%;
    }
  }
}



.home-content-container {
  padding: 20px;
  height: 100vh;
  width: 100vw;

  .short-presentation {
    height: 100%;
    background: green;
    border-radius: 10px;

    .img-container {
      background: yellow;
      height: 50%;
      width: 30%;
      object-fit: cover;
      border-radius: 10px;

    }
  }

  .last-content {
    height: 100%;
    background: blue;
    border-radius: 10px;

    .phone-block {
      height: 50%;
      width: 20%;
    }
  }
}
