<div class="home-container">

  <div class="img-container">

    <h3>Phrase qui va avec la photo</h3>

    <div class="cta-services d-flex justify-content-center">
      <%= link_to services_path do %>
        <button>Voir mes services</button>
      <% end %>
    </div>

  </div>

</div>

<div class="home-content-container">

  <div class="short-presentation d-flex justify-content-around align-items-center">

    <p>Mini présentation de sophie duong</p>

    <div class="img-container">

    </div>

  </div>

</div>

<div class="home-content-container d-flex justify-content-center flex-column">

  <div class="last-content d-flex justify-content-center align-items-center">

    <div class="header-home-content d-flex justify-content-center align-items-center mb-4">
      <h3>Dernières créations de contenus</h3>
    </div>

    <div class="phone-block d-flex justify-content-around align-items-center">

      <div class="phone-case d-flex justify-content-center align-items-center">
        <span>IPhone</span>
      </div>

      <div class="phone-case d-flex justify-content-center align-items-center">
        <span>IPhone</span>
      </div>

      <div class="phone-case d-flex justify-content-center align-items-center">
        <span>IPhone</span>
      </div>

      <div class="phone-case d-flex justify-content-center align-items-center">
        <span>IPhone</span>
      </div>

    </div>

  </div>

</div>

<div class="home-content-container d-flex justify-content-center flex-column">

  <div class="trust-me d-flex justify-content-center align-items-center">

    <div class="header-home-content d-flex justify-content-center align-items-center mb-4">
      <h3>Ils m'ont fait confiance</h3>
    </div>

    <div class="rest-block">

    </div>

  </div>

</div>
