<div class="services-container">

  <div class="services-section">

    <div class="services-short-pres d-flex flex-column justify-content-around align-items-center">

      <div class="services-header d-flex justify-content-center align-items-center">
        <h2><strong>3 Services & Collab</strong></h2>
      </div>

      <div class="services-body d-flex justify-content-around align-items-center">

        <div class="service-item d-flex justify-content-center align-items-center">
          <h3><strong>Social Media</strong></h3>
        </div>

        <div class="service-item d-flex justify-content-center align-items-center">
          <h3>Création contenu <strong>Food</strong>, <strong>Activités</strong>, <strong>Expériences</strong> et <strong>Travel</strong></h3>
        </div>

        <div class="service-item d-flex justify-content-center align-items-center">
          <h3><strong>Contenu UGC</strong></h3>
        </div>

      </div>

    </div>

  </div>

</div>

<div class="other-service-container">

  <div class="other-service-section d-flex flex-column justify-content-center align-items-center">

    <div class="other-service-header d-flex justify-content-start align-items-center">
      <h2>Mes formules</h2>
    </div>

    <div class="other-service-body d-flex justify-content-center align-items-center">

      <div class="service-item-formula1 d-flex justify-content-center align-items-center text-align-center flex-column">
        <h2>Formule 1</h2>
        <span>Explication courte et brève de la première formule que je vous propose.</span>
        <span>Il s'agit de vous aider à améliorer chacun de ces points :</span>
        <p>☑ item 1</p>
        <p>☑ item 2</p>
        <p>☑ item 3</p>
        <p>☑ item 4</p>
        <p>☑ item 5</p>
      </div>

      <div class="service-item-formula2 d-flex justify-content-center align-items-center text-align-center flex-column">
        <h2>Formule 2</h2>
        <span>Explication courte et brève de la deuxième formule, mieux que la première que je vous propose.</span>
        <span>Il s'agit de vous aider à améliorer chacun de ces points :</span>
        <p>☑ item 1</p>
        <p>☑ item 2</p>
        <p>☑ item 3</p>
        <p>☑ item 4</p>
        <p>☑ item 5</p>
        <p>☑ item 6</p>
        <p>☑ item 7</p>
      </div>

      <div class="service-item-formula3 d-flex justify-content-center align-items-center text-align-center flex-column">
        <h2>Formule 3</h2>
        <span>Explication courte et brève de la troisième formule, la plus cccomplète que je vous propose et que vous trouverez sur le marché.</span>
        <span>Il s'agit de vous aider à améliorer chacun de ces points :</span>
        <p>☑ item 1</p>
        <p>☑ item 2</p>
        <p>☑ item 3</p>
        <p>☑ item 4</p>
        <p>☑ item 5</p>
        <p>☑ item 6</p>
        <p>☑ item 7</p>
        <p>☑ item 8</p>
        <p>☑ item 9</p>
        <p>☑ item 10</p>
      </div>

    </div>

    <div class="cta-contact d-flex justify-content-center">
      <%= link_to contact_path do %>
        <button class="btn btn-success">Me contacter</button>
      <% end %>
    </div>


  </div>

</div>
