.top-home-gbs {
  height: 25vh;
  width: 100vw;

  .redirect-logos {
    width: 30%;
    height: 40%;
    padding: 20px;

    a {
      margin: 0px 20px 0px 20px;
      height: 100%;
      width: 20%;

      img {
        height: 100%;
        width: 100%;

      }
    }
  }

  .navbar {
    width: 100%;
    justify-content: space-between;
    background: white;

    .logo-gbs {
      width: 30%;

    }

    .actions-menu-gbs {
      width: 70%;

      ul {
        width: 100%;
      }

    }
    img {
      width: 40px;
    }
  }
}
